html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a:hover {
    background-color: lightgray;
    cursor: pointer;
}
a:active {
    text-decoration-line:underline;
}
a::after{
    text-decoration-line: underline;
}