@model Garage2._0.Models.Member

@{
    ViewData["Title"] = "Details";
    var name = Html.DisplayFor(model => model.FullName);
    var title = "Number of Wehicles";
}

<h1>Details</h1>

<div>
    <h4>@name</h4>
    <hr />
    <dl class="row">
  
        <dt class="col-sm-2">
            @title
        </dt>
         <th>
                @*@Html.DisplayNameFor(model => model.Vehicles.Count())*@
          </th>
        <dd class="col-sm-10">
            @foreach(var vehicle in Model.Vehicles)
            {  
            <dt class="col-sm-2">
            @vehicle.Brand<br/>
             </dt>
             <td>
                @vehicle.RegNr<br/>
                </td>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index1">Back to List</a>
</div>
