@using Garage2._0.Services
@model VehicleTypeViewModel

@inject IVehicleTypeService service

<select class="form-control" asp-for="Id" asp-items="@await service.GenerateVehicleTypes(Model is null? null: Model.Id)">
    @if (Model is null)
    {
        <option selected="selected" value="">Choose a type</option>

    }
</select>

